body {
    background-color: #E5E5E5;
  }
   /* .container {
    margin: 200px auto;
    width: 500px;
    height: 60px
  } */
  
  /* The point of this tutorial is here */
  .form {
    display: flex;
    flex-direction: row;
  }
  .search-container {
    box-sizing: border-box;
width: 398px;
height: 40px;
left: 122px;
top: 185px;
background: #F0F0F0;
border-radius: 1px;
  }

  .search-field {
    width: 30%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    
    box-sizing: border-box;

  }
  
  .search-button {
    background: transparent;
    border: 2px solid black;
    outline: none;
    margin-left: -3px;
    cursor: pointer;
    
    
  }
  
  .search-button img {
    width: 30px;
    height: 40px;
   
  }
  /* button styling */
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #e7e7e7;
  }

  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .btn2 {
    color:white;
    background-color: black;
    height: 50%;
    width: 10%;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin: auto;
    float: right;
  }
   .txtfnt {
    
width: 123px;
height: 29px;
left: 129px;
top: 116px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 29px; 
/* identical to box height */
color: #000000;
   }
   .boxfnt {
    box-sizing: border-box;
width: 300px;
height: 40px;
left: 299px;
top: 101px;
border: 1px solid #A9A9A9;
   }
   .dobfnt {
    box-sizing: border-box;
    width: 74px;
    height: 30px;
    left: 299px;
    top: 398px;
    border: 1px solid #A9A9A9;
    text-align: center;
   }

  .list {
    box-sizing: border-box;
    /*  padding: 50px 0px 0px 0px;  */
    width: 1196px;
    height: 610px;
    left: 122px;
    top: 296px;
    border: 1px solid #D8D8D8;
  }

  /* Add.html file */ 

 .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  /* Set a style for all buttons */
  button {
    color:white;
    background-color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 10%;
    border-radius: 12.5%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; 
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  /* previous buttons */
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
/* Table style  */
  body > table{
    width: 100%;
}

table{
    border-collapse: collapse;
    text-align: center;
}
table.list{
    width:100%;
    text-align: center;
}
table.list td{
    text-align: center;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
